
@{
    ViewBag.Title = "Index";
}

<div>
    {{3*3}}
    
</div>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Price</th>

        </tr>
        <tr ng-repeat="product in Products">
            <td>{{product.Id}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
        </tr>
    </table>
</div>